/* Override some of the theme CSS styling */

/* Change inline code formatting */
code.literal {
    color: black !important;
    border: none;
    font-weight: bold;
    background-color: transparent;
}

/* Add extra space to scroll at bottom */
div.wy-nav-content {
    padding-bottom: 500px;
    max-width: 1000px;
}

/* hover effect */
a:hover {
    background-color: yellow;
    position: relative; /* Ensure the positioning context is set */
    box-shadow: 0px 2px 0px 0px currentColor;
    font-weight: 900;
}

/* override purple visited color */
.wy-nav-content a:visited {
    color: inherit;
}

/*link style */
.wy-nav-content a {
    color: #3488c0 !important;
    font-weight: 900;
}

/*code styling*/
.viewcode-block,
.rst-content div[class^="highlight"] pre {
    font-weight: 500;
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
    line-height: 120%;
    font-size: 12px;
    letter-spacing: 0.02em;
}

/* sidebar sublisting links */
.wy-menu-vertical li ul li a:hover {
    font-weight: 900 !important;
}

